<div class = "weather-widget-wrapper">
	<p>Minimum Temparature : {{weather_data.temp_min}}</p>
	<p>Maximum Temparature : {{weather_data.temp_max}}</p>
	<p>Pressure : {{weather_data.pressure}}</p>
</div>